* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainBlue: blue;
  --main-Orange: #f15025;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: black;
  background: white;
}